.container {
  height: 400px;
  width: 100%;
  
   
}

.statusIcon {
  display: flex;
  align-items: center;
}

.statusText {
  margin-left: 5px;
}

.dataGridRoot {
  border: none;
}

.dataGridColumnHeaders {
  background-color: #f5f5f5;
  color: #333;
  font-weight: bold;
}

.dataGridCell {
  border-bottom: 1px solid #ddd;
}

.dataGridFooter {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}
